* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contenedor {
    width: 970px;
    margin: 0px auto;
    height: auto;
    background: linear-gradient(#245176 90%, rgb(55, 142, 229));
}

img {
    width: 350px;
    margin: 10px 0px 10px 30px;
}

#encabezado {
    font-size: 13px;
    text-align: right;
    width: 300px;
    vertical-align: top;
    margin-left: 226px;
    margin-top: 10px;
    display: inline-block
}

#encabezado p {
    color: white;
}

#encabezado a {
    color: #dec618;
}

#separador {
    color: black;
    margin-left: 4px;
}

#buscador {
    background-color: #4e4c4c;
    width: 280px;
    height: 55px;
    display: inline-block;
    border-radius: 9px;
    margin-top: 10px;
    margin-left: 59px;
    box-shadow: 2px 2px 2px rgb(26, 25, 25);
}

#barra {
    margin: 12px 0px 10px 10px;
    height: 30px;
    width: 160px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    color: gray;
    box-shadow: 1px 1px 1px silver;
}

#boton {
    height: 27px;
    width: 37px;
    border-radius: 5px;
    background-color: #114ba1f2;
    color: white;
    font-size: 11px;
    font-weight: bold;
    border-color: white;
    margin-right: 39px;
    display: inline-block;
    box-shadow: 2px 2px 2px rgb(26, 25, 25);
}

#menu {
    background: linear-gradient( rgb(27, 119, 210), rgb(67, 134, 202), rgb(27, 119, 210));
    width: 840px;
    border-radius: 5px;
    height: 45px;
    margin-left: 90px;
    display: -webkit-inline-box;
    list-style-type: none;
    font-size: 18px;
    box-shadow: 2px 2px 2px rgb(26, 25, 25);
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu li {
    margin: 10px 30px 10px 25px
}

#contenido {
    width: 970px;
    display: inline-block;
}

#contenido ul {
    width: 200px;
    color: #dec618;
    ;
    list-style-type: disclosure-closed;
    List-style-position: inside;
    margin: 30px 10px 0px 110px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    font-size: 14px;
}

#contenido a {
    color: white;
}

#intro {
    color: white;
    font-size: 12.5px;
    font-style: normal;
    line-height: normal;
}

#texto {
    color: #dec618;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
    width: 590px;
    display: inline-block;
    margin-top: 22px;
    font-style: oblique;
    line-height: 30px;
}

#zen {
    font-size: 15px;
    text-align: center;
    margin: 20px;
    color: white;
    font-weight: normal;
    font-style: normal;
}

#subcontenido {
    width: 970px;
    background-color: white;
    display: inline-block;
}

#subcontenido h5 {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
}

#subcontenido ::marker {
    color: black;
}

#subcontenido ul {
    list-style-type: square;
}

#cuadro1 {
    margin-left: 95px;
}

.cuadros {
    display: inline-block;
    border-top: 5px solid rgb(55, 142, 229);
    width: 220px;
    margin: 10px 20px 15px 15px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
    padding-right: 130px;
    padding-left: 40px;
}

.color {
    color: rgb(116, 176, 236)
}

#link1 {
    margin-left: 185px;
}

#pie-pagina {
    padding-top: 40px;
}

.link {
    text-decoration: none;
    color: rgb(116, 176, 236);
    margin-right: 40px;
}

#pie-pagina p {
    color: rgb(116, 176, 236);
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    font-size: 10px;
}