/*CSS reset settings here*/

* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    /* va ser el 90% de 1024 */
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}

#header {
    min-height: 150px;
    /* como no le asigne el ancho, es auto, osea yo uso el "100%" del contenedor-- es el 100% del 90% */
    background-color: green;
}

#navigation {
    /* va ser alrededor de 25% del 90% por ejemplo*/
    min-height: 300px;
    width: 200px;
    background-color: blue;
}

#main_content {
    /*seria un 75% mas o menos del 90%*/
    min-height: 400px;
    width: 700px;
    background-color: red;
}

.subcontents {
    /* 27% por los espacios del 100% el rojo*/
    min-height: 200px;
    width: 210px;
    background-color: yellow;
}

#advertisement {
    /* un 90% del contenedor que es el rojo*/
    min-height: 120px;
    width: 660px;
    background-color: purple;
}